<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Visits to the Zoo</title>
    <link rel="stylesheet" href="static/education.css">
</head>
<body>
    <header>
        <h1>Educational Visits to the Zoo</h1>
    </header>
    <div class="container">
        
       
        
        <p>Educational visits to the zoo offer students a unique opportunity to learn about wildlife, conservation, and ecology in an engaging and interactive environment. These field trips provide hands-on experiences that complement classroom learning and foster a deeper appreciation for the natural world.</p>
        <p>During zoo visits, students can observe a wide variety of animal species up close, learn about their habitats and behaviors, and discover the importance of biodiversity and conservation efforts. Guided tours, interactive exhibits, and educational presentations enhance the learning experience and inspire students to become stewards of the environment.</p>
        <p>Whether it's studying the adaptations of animals to their environments, exploring the interconnectedness of ecosystems, or understanding the threats facing endangered species, educational visits to the zoo offer endless opportunities for discovery and exploration.</p>
        <p>Plan your next educational visit to the zoo and ignite your students' curiosity about the natural world!</p>

        
        
    </div>
   
    <div class="zoo-animal">
        <img src="{{url_for('static', filename='Education1.jpg')}}" alt ="Hippo">
       
    </div>
    <footer>
        <p>&copy; 2024 Educational Visits to the Zoo</p>
    </footer>
</body>
</html>