<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Privacy Policy</title>
    <link rel="stylesheet" href="static/Policy.css">
</head>
<body>

<div class="container">
    <h1>Welcome to the Zoo Privacy Policy</h1>
    <p>At Zoo, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our services or visit our website.</p>

    <h2>Information We Collect</h2>
    <p>We may collect various types of information from you, including:</p>
    <ul>
        <li>Your name, email address, and contact information.</li>
        <li>Demographic information such as age, gender, and location.</li>
        <li>Information about your interactions with our website or services.</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We may use the information we collect for purposes including:</p>
    <ul>
        <li>Providing and personalizing our services to you.</li>
        <li>Improving our website and services based on your feedback.</li>
        <li>Sending you promotional offers and updates about our zoo.</li>
    </ul>

    <p class="highlight">We do not sell, trade, or rent your personal information to third parties.</p>

    <h2>Security</h2>
    <p>We take appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.</p>

    <h2>Changes to This Policy</h2>
    <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective immediately upon posting the updated policy on this page.</p>

    <footer>
        &copy; 2024 Zoo. All rights reserved.
    </footer>
</div>

</body>
</html>
